.menuSidebarWrapper {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 28rem;
  height: 100%;
}

.menuSidebarContainer {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: start;
}
